---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('January 07 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		我是一个随性不爱说话的人。
	</p>

	<p>
		我爱画画，每天至少一副。好坏全看心情。
	</p>

	<p>
		我更爱看电影，一次能看好长时间，不带卡壳的。
	</p>

	<p>
		我也爱户外运动。
	</p>

	<p>
		偶尔会乱涂乱画，胡言乱语。
	</p>
</Layout>
